.tile-pane {
    -fx-background-image: url("background_tile_pane.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
     -fx-background-size: contain;
}
.button {
    -fx-background-color:  #481f10 ;
    -fx-text-fill: #4C2113;
    -fx-background-radius: 6px;

    -fx-border-radius: 6px;
}
.button:hover {
    -fx-background-color:#481f10; /* Màu nền khi hover */
     -fx-border-radius: 2px;
      -fx-border-color: #ffffff;
    -fx-cursor: hand;
    }
.combo-box {
    -fx-background-color: #ffffff; /* Màu nền của ComboBox */
}
.tilePane-book {
    -fx-background-color: #ffffff; /* Màu nền */
    -fx-background-radius: 5px;   /* Bo tròn góc */
    -fx-border-color: #B08968;     /* Màu viền */
    -fx-border-radius: 5px;       /* Bo góc cho viền */
    -fx-border-width: 1px;         /* Độ dày viền */
}
/* Kiểu mặc định cho .tilePane-book */
.tilePane-book {
    -fx-background-color: #ffffff; /* Màu nền */

    -fx-border-color: #4c2113;     /* Màu viền */
    -fx-border-radius: 5px;        /* Bo góc cho viền */
    -fx-border-width: 0.5px;         /* Độ dày viền */
}

/* Hiệu ứng khi di chuột vào */
.tilePane-book:hover {
    -fx-cursor: hand; /* Chuyển con trỏ chuột thành hình bàn tay */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.3, 0, 0); /* Hiệu ứng đổ bóng phát sáng */

}