.tile-pane {
    -fx-background-image: url("background_tile_pane.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
     -fx-background-size: contain;
}

.combo-box {
    -fx-background-color: #ffffff; /* Màu nền của ComboBox */
}
.tilePane-book {
    -fx-background-color: #ffffff; /* Màu nền */
    -fx-background-radius: 5px;   /* Bo tròn góc */
    -fx-border-color: #B08968;     /* Màu viền */
    -fx-border-radius: 5px;       /* Bo góc cho viền */
    -fx-border-width: 1px;         /* Độ dày viền */
}
/* Kiểu mặc định cho .tilePane-book */
.tilePane-book {
    -fx-background-color: #ffffff; /* Màu nền */

    -fx-border-color: #4c2113;     /* Màu viền */
    -fx-border-radius: 5px;        /* Bo góc cho viền */
    -fx-border-width: 0.5px;         /* Độ dày viền */
}

/* Hiệu ứng khi di chuột vào */
.tilePane-book:hover {
    -fx-cursor: hand; /* Chuyển con trỏ chuột thành hình bàn tay */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.3, 0, 0); /* Hiệu ứng đổ bóng phát sáng */

}
.button-settings {
    -fx-background-color:  #e4e6eb ;
    -fx-text-fill: #000000;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;

    -fx-border-radius: 6px;
}
.button-settings:hover {
    -fx-background-color:#d8dadf; /* Màu nền khi hover */
    -fx-cursor: hand;
    }
    .Pane-avatar {
        -fx-background-color: #ffffff; /* Màu nền */
         -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 20, 0.3, 0, 0);
          -fx-background-radius: 6px;
    }
    .button-ctrl {
        -fx-background-color:  #ffffff ;
        -fx-text-fill: #000000;
        -fx-font-size: 15;
        -fx-font-weight: 700;
        -fx-background-radius: 6px;
    }
    .button-ctrl:hover {
        -fx-background-color:#f2f2f2;
         -fx-text-fill: #000000;
         -fx-font-size: 15;
         -fx-font-weight: 700;
        -fx-background-radius: 7px;
        -fx-cursor: hand;
        }
        .image-avatar: hover {
         -fx-cursor: hand;
        }
