.tile-pane {
    -fx-background-image: url("background_tile_pane.png");
    -fx-background-repeat: no-repeat;
     -fx-background-size: 100% auto;
}

.combo-box {
    -fx-background-color: #ffffff;
}
.tilePane-book {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #B08968;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.tilePane-book {
    -fx-background-color: #ffffff;
     -fx-border-color: #4c2113;
    -fx-border-radius: 8px;
    -fx-border-width: 0.5px;
}

.grayPane {
    -fx-background-radius: 10px;
    -fx-background-color: #ffffff;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 14, 0.2, 0, 0);
}
/* file: style.css */

.avatar-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 14, 0.5, 3.0, 3.0); /* Hiệu ứng đổ bóng */
    -fx-border-radius: 10px; /* Bo góc viền */
    -fx-background-radius: 10px; /* Bo góc nền */
    -fx-padding: 5px; /* Khoảng cách bên trong */
}

.whitePane {
    -fx-background-radius: 8px;
    -fx-background-color: #f0f2f5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0.1, 1, 2);
}

.tilePane-book:hover {
    -fx-cursor: hand; /* Chuyển con trỏ chuột thành hình bàn tay */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.3, 0, 0); /* Hiệu ứng đổ bóng phát sáng */

}
.button-settings {
    -fx-background-color:  #e4e6eb ;
    -fx-text-fill: #000000;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;

    -fx-border-radius: 6px;
}
.button-settings:hover {
    -fx-background-color:#d8dadf; /* Màu nền khi hover */
    -fx-cursor: hand;
    }
    .Pane-avatar {
        -fx-background-color: #ffffff; /* Màu nền */
         -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 20, 0.3, 0, 0);
          -fx-background-radius: 6px;
    }
    .button-ctrl {
        -fx-background-color:  #ffffff ;
        -fx-text-fill: #000000;
        -fx-font-size: 15;
        -fx-font-weight: 700;
        -fx-background-radius: 6px;
    }
    .button-ctrl:hover {
        -fx-background-color:#f2f2f2;
         -fx-text-fill: #000000;
         -fx-font-size: 15;
         -fx-font-weight: 700;
        -fx-background-radius: 7px;
        -fx-cursor: hand;
        }
        .button-borrow {
                -fx-background-color:  #6e2f18;
                -fx-text-fill: #ffffff;
                -fx-font-size: 18;
                -fx-font-weight: 700;
                -fx-background-radius: 4px;
            }
            .button-borrow:hover {
                -fx-background-color:#943f20;
                 -fx-text-fill: #ffffff;
                 -fx-font-size: 18;
                 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 0);
                 -fx-font-weight: 700;
                -fx-background-radius: 4px;
                -fx-cursor: hand;
                }
                .button-borrow:pressed {
                    -fx-background-color: #5b2614;
                    -fx-text-fill: #ffffff;
                    -fx-font-size: 18;
                    -fx-font-weight: 700;
                    -fx-background-radius: 4px;
                    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0.5, 0, 0);
                }


.button-borrow2 {
 -fx-background-color:  #6e2f18;
 -fx-text-fill: #ffffff;
 -fx-font-size: 14;
 -fx-font-weight: 700;
 -fx-background-radius: 4px;
                }
 .button-borrow2:hover {
  -fx-background-color:#943f20;
  -fx-text-fill: #ffffff;
  -fx-font-size: 14;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 0, 0);
  -fx-font-weight: 700;
  -fx-background-radius: 4px;
  -fx-cursor: hand;
                                }
  .button-borrow2:pressed {
   -fx-background-color: #5b2614;
   -fx-text-fill: #ffffff;
   -fx-font-size: 14;
   -fx-font-weight: 700;
   -fx-background-radius: 4px;
   -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0.5, 0, 0);
                                                }
        .image-avatar: hover {
         -fx-cursor: hand;
        }
