/* Định dạng cho phần nền trái */
.left-pane {
    -fx-background-color: #FFC107;
    -fx-background-radius: 0px 15px 15px 0px;
}

/* Định dạng cho text lớn "Librio" */
.librio-text {
    -fx-fill: SADDLEBROWN;
        -fx-font-size: 54px;
        -fx-font-family: 'System Bold';
        -fx-font-weight: bold; /* Thêm thuộc tính để tăng độ dày chữ */
        -fx-stroke-type: outside; /* Đặt kiểu viền bên ngoài */
}

/* Định dạng cho text phụ "Library management application" */
.sub-title {
    -fx-fill: SADDLEBROWN;
    -fx-font-size: 18px;
}

/* Định dạng cho trường nhập (TextField và PasswordField) */
.input-field {
    -fx-background-color: transparent;
    -fx-border-color: #8B4513;
    -fx-border-width: 0px 0px 2px 0px;
}

/* Định dạng cho nút đăng nhập */
.login-button {
    -fx-background-color: #FFC107;
    -fx-text-fill: SADDLEBROWN;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
}

.login-button:hover {
    -fx-background-color: #FFD700; /* Đổi màu khi hover (màu vàng nhạt hơn) */
    -fx-cursor: hand; /* Đảm bảo con trỏ vẫn là hình bàn tay khi hover */
}

/* Định dạng cho tiêu đề đăng nhập */
.login-title {
    -fx-fill: #8B4513;
    -fx-font-size: 27px;
    -fx-font-family: 'Wingdings 3';
}

.right-pane {

}