.scroll-pane {
    -fx-background-color: #FFFFFF;
}


.white-pane {
    -fx-background-color: #FFFFFF;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: transparent;
    -fx-border-radius: 4;
    -fx-padding: 8;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: transparent;
    -fx-font-size: 13px;
}

.combo-box, .combo-box .list-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #4C2113;
    -fx-font-family: 'System';
}

.combo-box .list-cell:hover {
    -fx-background-color: #F1DEBC;
    -fx-text-fill: #4C2113;
    -fx-font-family: 'System';
    -fx-cursor: hand;
}

.combo-box:hover, .combo-box:focused {
    -fx-text-fill: #4C2113;
    -fx-cursor: hand;
}

.image-view {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}




.label.bold-italic {
    -fx-font-family: "System Bold Italic";
    -fx-font-size: 24px;
    -fx-text-fill: #333333;
}

.label.see-all {
    -fx-font-size: 14px;
    -fx-text-fill: #0077CC;
    -fx-cursor: hand;
}

.label.see-all:hover {
    -fx-underline: true;
}

/* Button styles */
.button {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
}

.label-button {
    -fx-font-size: 15px;
    -fx-text-fill: #333;
}

.label-button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #B38B60;
}

.line-style {
    -fx-stroke: #4C2113; /* Light gray color for the lines */
}
/* Specific styles for the left and right scroll buttons */
.button.scroll {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 10;
 
}

.button.scroll:hover {
    -fx-opacity: 0.6;
}

.quick-borrow-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #6e2f18;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-color: #6e2f18;
    -fx-border-width: 2px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
    -fx-min-width: 149px;
    -fx-pref-width: 149px;
    -fx-max-width: 149px;
    -fx-padding: 0;
}

.quick-borrow-button:hover {
    -fx-text-fill:#943f20;
}

.main-scroll .scroll-bar:vertical {
    -fx-padding: 1px;
    -fx-background-color: transparent;
    -fx-pref-width: 10px;
}

.main-scroll .scroll-bar .thumb {
    -fx-background-color: #DCB485;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}


/* Title style */
.title-label {
    -fx-font-size: 15px;
    -fx-text-fill: #000000; /* Set to a darker color for readability */
    -fx-font-family: 'Arial', sans-serif; /* Adjust to preferred font */
    -fx-wrap-text: true;
    -fx-padding: 0 15 0 15; /* Add some padding around the text */
    -fx-max-height: 48px; /* Limit the height so it doesn't overflow */
    -fx-alignment: center; /* Căn giữa chữ */
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.title-label:hover {
    -fx-underline: true;
}

/* Author style */
.author-label {
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
    -fx-underline: true;
    -fx-font-family: 'Arial', sans-serif;
    -fx-padding: 0 15 0 15;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.author-label:hover{
    -fx-font-weight: bold;
}

.circular-button {
    -fx-background-color: #f1debc;
    -fx-text-fill: white;
    -fx-padding: 0;
    -fx-shape: "M 0 50 a 50 50 0 1 1 100 0 a 50 50 0 1 1 -100 0";
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-cursor: hand;

}

.circular-button:hover {
    -fx-background-color: #e6d4b3;
}

.circular-button:pressed {
    -fx-background-color: #d8c4a3; /* Màu nền khi nhấn */
    -fx-border-color: #d1b89b;    /* Đổi màu viền khi nhấn */
-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 3, 0, 0, 1); /* Giảm bóng */
    -fx-translate-y: 2px;        /* Tạo hiệu ứng nhấn chìm */
}
.bag-Pane {
 -fx-background-color: #dd2334;
  -fx-background-radius: 10;
}

.progress-indicator {
    -fx-stroke: #A45C23;
    -fx-accent: #A45C23;
}