/* Nền chính */
.root {
    -fx-background-color: #fff7ec;
      -fx-border-radius: 10px;
        -fx-background-radius: 10px;
           -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 40, 0.3, 0, 0);
}


.grayPane {
    -fx-background-color: #F2EFEA;
    -fx-border-color: #D8BFAA;
    -fx-border-radius: 4px;
    //-fx-background-radius: 4px;
}


.whitePane {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D8BFAA;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.sidebar-button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #040000;
    -fx-padding: 10px 20px;
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
}

.sidebar-button:hover {
    -fx-background-color: #f1dfc8;
    -fx-cursor: hand;
    -fx-border-color: #DCB485;
    -fx-border-width: 0 4px 0 0;
}

.sidebar-button:focused {
    -fx-background-color: #e5d6c3;
    -fx-border-color: #DCB485;
    -fx-border-width: 0 4px 0 0;
    -fx-text-fill: #4C2113;
}

.sidebar-button1 {
    -fx-background-color: #f1dfc8;
    -fx-cursor: hand;
    -fx-border-color: #DCB485;
    -fx-border-width: 0 4px 0 0;
}


/* Nút Lưu thay đổi */
.save-button {
    -fx-background-color: #d2ac7f;
     -fx-background-radius: 10px;
}

.save-button:hover {
     -fx-background-color: rgba(210, 172, 127, 0.7);
     -fx-background-radius: 10px;
     -fx-border-width: 0.5px;
    -fx-cursor: hand;
}

.cancel-button {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color:#4c2113;
    -fx-border-width: 0.5px;
}

.cancel-button:hover {
    -fx-background-color: rgba(210, 172, 127, 0.7);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color:#4c2113;
    -fx-border-width: 0.5px;
    -fx-cursor: hand;
}

/* Style mặc định cho nút với màu xám */
.button-gray {
    -fx-background-color: #D3D3D3; /* Màu xám nhạt cho nền nút */
    -fx-text-fill: #4C2113; /* Màu chữ */
    -fx-background-radius: 3px;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
}

/* Hiệu ứng khi di chuột vào nút */
.button-gray:hover {
    -fx-background-color: #DCB485; /* Màu cam nhạt khi hover */
    -fx-cursor: hand;
}

/* Ảnh đại diện */
.avatar-circle {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D8BFAA;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-padding: 5px;
}

/* ComboBox (Gender) */
.combo-box {
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 5px;
    -fx-font-size: 13px;
    -fx-cursor: hand;
}

.date-picker {
    -fx-border-color: transparent;
    -fx-border-radius: 10px;
}

.date-picker, .date-picker .text-field, .date-picker .content {
    -fx-background-color: #ffffff;
    -fx-background-radius:10px;
    -fx-text-fill: #000000;
    -fx-font-weight: 500;
    -fx-font-family: 'System';
      -fx-border-radius: 10px;
}

.date-picker:hover, .date-picker:focused {
    -fx-text-fill: #4C2113;

}

.date-picker:hover,.combo-box:hover, .date-picker .text-field:hover{
    /*-fx-cursor: hand;*/
}

.date-picker .arrow-button {
    -fx-background-color: #ffffff;
       -fx-background-radius:10px;
    -fx-cursor: hand;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: #4C2113; /* Màu cho biểu tượng lịch */
}

.date-picker .month-year-pane {
    -fx-background-color: #DCB485; /* Màu nền cho tiêu đề tháng/năm */
    -fx-text-fill: #4C2113; /* Màu chữ cho tháng và năm */
}

.date-picker .month-year-label {
    -fx-text-fill: #4C2113; /* Màu chữ cho tháng và năm */
}

.date-picker .day-name-cell {
    -fx-background-color: #F1DEBC; /* Màu nền cho các tên ngày (Mon, Tue, ...) */
    -fx-text-fill: #4C2113; /* Màu chữ cho tên ngày */
}

/* Thay đổi màu nền và màu chữ cho các ô ngày */
.date-picker .day-cell {
    -fx-background-color: #F1DEBC; /* Màu nền cho các ô ngày */
    -fx-text-fill: #4C2113; /* Màu chữ cho ngày */
}

.date-picker .day-cell:hover {
    -fx-background-color: #eac37d; /* Màu nền khi hover vào các ô ngày */
    -fx-cursor: hand;
}

/* Thay đổi màu nền và màu chữ cho ngày được chọn */
.date-picker .day-cell:selected {
    -fx-background-color: #4C2113; /* Màu nền cho ngày được chọn */
    -fx-text-fill: #FFFFFF; /* Màu chữ cho ngày được chọn */
}

/* Định dạng các mũi tên chuyển tháng/năm */
.date-picker .left-arrow .arrow, .date-picker .right-arrow .arrow {
    -fx-background-color: #4C2113; /* Màu cho mũi tên chuyển tháng/năm */
}
.textField{
 -fx-background-color: #FFFFFF;
 -fx-background-radius: 10px;
 -fx-border-radius: 10px;
 -fx-border-color:#4c2113;
 -fx-border-width: 0.5px;
}




