.scroll-pane {
    -fx-background-color: #FFFFFF;
}


.white-pane {
    -fx-background-color: #FFFFFF;
}

/* TextField style for search */
.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 4;
    -fx-padding: 8;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 14px;
}

.combo-box:hover {
    -fx-cursor: hand;

}

.image-view {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.pagination .label {
    -fx-opacity: 0;
}


.label.bold-italic {
    -fx-font-family: "System Bold Italic";
    -fx-font-size: 24px;
    -fx-text-fill: #333333;
}


.label-button {
    -fx-font-size: 15px;
    -fx-text-fill: #333;
}

.label-button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #B38B60;
}

.line-style {
    -fx-stroke: #4C2113; /* Light gray color for the lines */
}
/* Specific styles for the left and right scroll buttons */
.button.scroll {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.button.scroll:hover {
    -fx-opacity: 0.6;
}


.main-scroll .scroll-bar:vertical {
    -fx-padding: 1px;
    -fx-background-color: transparent;
    -fx-pref-width: 10px;
}

.main-scroll .scroll-bar .thumb {
    -fx-background-color: #DCB485;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}

.label .rating-left-label {
    -fx-text-fill: #2e7d32;
    -fx-font-size: 14px;
    -fx-font-family: 'Arial', sans-serif;
}

/* Styles for the TitledPane */
.title-pane {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #4C2113;
    -fx-mark-color: #4C2113;
    -fx-focus-color: transparent;
}

.title-pane > .title {
    -fx-background-color: white;
    -fx-font-family: 'Arial', sans-serif;
    -fx-alignment: CENTER_RIGHT;
}

.title-pane > .title:hover {
    -fx-opacity: 0.7;
}

.title-pane > .arrow-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.title-pane > .arrow-button .arrow {
}

.title-pane > .arrow-button:focused {
    -fx-background-color: transparent;
}

.title-pane .content{
    -fx-background-color: white;
    -fx-border-color: transparent;
}

/* Label style inside the VBox */
.title-pane .content > VBox  > Label {
    -fx-font-size: 14px;
    -fx-text-fill: #B38B60;
}

.title-pane .content > VBox  > Label:hover {
    -fx-font-size: 14px;
    -fx-text-fill: #4C2113;
    -fx-cursor: hand;
}

.book-pane {
    -fx-margin: 10px 20px 30px 20px; /* top right bottom left */
}

.quick-borrow-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #3d6bb5;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-color: #3d6bb5;
    -fx-border-width: 2px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
    -fx-min-width: 149px;
    -fx-pref-width: 149px;
    -fx-max-width: 149px;
    -fx-padding: 0;
}
.quick-borrow-button:hover {
    -fx-text-fill: #5a85cc;
}

.title-label {
    -fx-font-size: 15px;
    -fx-text-fill: #000000; /* Set to a darker color for readability */
    -fx-font-family: 'Arial', sans-serif; /* Adjust to preferred font */
    -fx-wrap-text: true;
    -fx-padding: 0 15 0 15; /* Add some padding around the text */
    -fx-max-height: 48px; /* Limit the height so it doesn't overflow */
    -fx-alignment: center; /* Căn giữa chữ */
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.title-label:hover {
    -fx-underline: true;
}

/* Author style */
.author-label {
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
    -fx-underline: true;
    -fx-font-family: 'Arial', sans-serif;
    -fx-padding: 0 15 0 15;
    -fx-alignment: center; /* Căn giữa chữ */
    -fx-text-alignment: center;
}

.author-label:hover{
    -fx-font-weight: bold;
}


.pagination .number-button {
    -fx-background-color: transparent;
    -fx-text-fill: #B38B60;
    -fx-font-size: 16px;
}

.pagination .number-button:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}

.pagination .number-button:selected {
    -fx-background-color: transparent;
    -fx-text-fill: #4C2113;
}

.pagination .page-information {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
}


.button {
    -fx-background-color: #fff;
    -fx-text-fill: #4C21130;
    -fx-cursor: hand;
    -fx-font-size: 14px;
}

.progress-indicator {
    -fx-stroke: #F1DEBC;
    -fx-accent: #F1DEBC;
}