.main-pane {
    -fx-background-color: #f0f0f4;
    -fx-background-radius: 0px 5px 5px 0px;
}
.root {
    -fx-font-family: "Helvetica Neue", Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight:bold;
}
.button {
    -fx-background-color:  #DCB485 ;
    -fx-text-fill: #4C2113;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}
.button:hover {
    -fx-background-color:#f1debc;
    -fx-cursor: hand;

}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color: #f0f0f4;

}

.table-view .column-header .label {
    -fx-text-fill: #4C2113;
    -fx-font-weight: bold;
     -fx-alignment: center;
}

.table-view .cell {
    /*-fx-cell-size: 30;*/
    -fx-alignment: center-left;
    -fx-font-size: 13px;
    -fx-font-weight: normal;
    -fx-text-fill: #000000;

}

.table-row-cell:selected {
    -fx-background-color: #f1debc;
}

.table-row-cell:selected .text {
    -fx-fill: #000000;
}

.table-view .column-header:hover .label {
    -fx-text-fill: #B8860B;
    }
.table-view:focused {
    -fx-focus-color: #f1debc
}
.table-row-cell:focused {
   -fx-focus-color: #f1debc;
}

.background{
    -fx-background-color: #F8EDD9;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.pagination .label {
    -fx-opacity: 0;
}

.scroll-pane {
    -fx-background-color: #F8EDD9;
}

.scroll-pane .viewport {
    -fx-background-color: #f8edd9;
}

.scroll-bar:vertical {
    -fx-background-color: #DCB485;
}


.scroll-bar:horizontal {
    -fx-background-color: #DCB485;
}


.scroll-bar .thumb {
    -fx-background-color: #B08968;
    -fx-background-radius: 5px;
}
.tilePane-book {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #B08968;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.tilePane-book {
    -fx-background-color: #f8f2e8;
    -fx-background-radius: 5px;
    -fx-border-color: #B08968;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}


.tilePane-book:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.3, 0, 0); /* Hiệu ứng đổ bóng phát sáng */

}


/*.pie-chart {*/

/*}*/

.chart-pie-label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-fill: #333333;
    -fx-pie-padding: 100px;
}
