.main-pane {
    -fx-background-color: #f0f0f4;
    -fx-background-radius: 0px 5px 5px 0px;
}

.design-textField {
    -fx-background-color: #f8edd9;
}

.text-field-1 {
    -fx-background-color: #FFFFFF;
    -fx-border-color:  #4C2113;
    -fx-border-radius:  2em;
    -fx-text-fill: #333333;
}

.root {
    -fx-font-family: "Helvetica Neue", Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight:bold;
}
.button {
    -fx-background-color:  #DCB485 ;
    -fx-text-fill: #4C2113;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.button:hover {
    -fx-background-color:#f1debc;
    -fx-cursor: hand;

}
.button-inSettings {
    -fx-background-color:  #DCB485 ;
       -fx-text-fill: #4C2113;
    -fx-background-radius: 25px;

}
.button-inSettings:hover {
    -fx-background-color: rgba(220, 180, 133, 0.69);
}

.button-inSettings:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
.button-inSettings2 {
    -fx-background-color:  #DCB485 ;
    -fx-text-fill: #4C2113;
    -fx-background-radius: 25px;
}
.button-inSettings2:hover {
    -fx-background-color: rgba(220, 180, 133, 0.7);
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color: #f0f0f4;

}

.table-view .column-header .label {
    -fx-text-fill: #4C2113;
    -fx-font-weight: bold;
     -fx-alignment: center;
}

.table-view .cell {
    /*-fx-cell-size: 30;*/
    -fx-alignment: center-left;
    -fx-font-size: 13px;
    -fx-font-weight: normal;
    -fx-text-fill: #000000;

}

.table-row-cell:selected {
    -fx-background-color: #f1debc;
}

.table-row-cell:selected .text {
    -fx-fill: #000000;
}

.table-view .column-header:hover .label {
    -fx-text-fill: #B8860B;
    }
.table-view:focused {
    -fx-focus-color: #f1debc
}
.table-row-cell:focused {
   -fx-focus-color: #f1debc;
}

.background{
    -fx-background-color: #F8EDD9;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.pagination .label {
    -fx-opacity: 0;
}

.scroll-pane {
    -fx-background-color: #F8EDD9;
}

.scroll-pane .viewport {
    -fx-background-color: #f8edd9;
}

.scroll-bar:vertical {
    -fx-background-color: #DCB485;
}


.scroll-bar:horizontal {
    -fx-background-color: #DCB485;
}


.scroll-bar .thumb {
    -fx-background-color: #B08968;
    -fx-background-radius: 5px;
}
.tilePane-book {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #B08968;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.tilePane-book {
    -fx-background-color: #f8f2e8;
    -fx-background-radius: 5px;
    -fx-border-color: #B08968;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}


.tilePane-book:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.3, 0, 0); /* Hiệu ứng đổ bóng phát sáng */

}


/*.pie-chart {*/

/*}*/

.chart-pie-label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-fill: #333333;
    -fx-pie-padding: 100px;
}

.design-Anchor {
-fx-background-color: #f8edd9;
-fx-border-color: #4c2113;
-fx-border-radius: 15px 15px 0 0;
-fx-border-style: solid solid none solid;
-fx-border-width: 0.3px;
}
.design-Anchor2 {
-fx-background-color: #f8edd9;
-fx-border-color: #4c2113;
-fx-border-style: solid solid none solid;
-fx-border-width: 0.3px;
}
.design-Anchor2:hover {
-fx-border-style: solid solid solid solid;
-fx-border-width: 0.3px  0.3px 1px 0.3px;
}
.design-Anchor3 {
-fx-background-color: #f8edd9;
-fx-border-color: #4c2113;
-fx-border-radius: 0 0 15px 15px ;
-fx-border-style: none solid solid solid;
-fx-border-width: 0.3px;
}



.combo-box {
    -fx-border-color: transparent;
}

.combo-box, .combo-box .list-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #4C2113;
    -fx-font-family: 'System';
}

.combo-box .list-cell:hover {
    -fx-background-color: #F1DEBC;
    -fx-text-fill: #4C2113;
    -fx-font-family: 'System';
    -fx-cursor: hand;
}

.combo-box:hover, .combo-box:focused {
    -fx-background-color: #F1DEBC;
    -fx-text-fill: #4C2113;
}

.combo-box .arrow-button {
    -fx-background-color: #F1DEBC;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #4C2113; /* Màu cho mũi tên */
}

.textField-password{
 -fx-background-color: #FFFFFF;
 -fx-background-radius: 20px;
 -fx-border-radius: 20px;
 -fx-border-color:#4c2113;
 -fx-border-width: 0.8px;
}

/* Định dạng cho DatePicker */
.date-picker {
    -fx-border-color: transparent;
}

.date-picker, .date-picker .text-field, .date-picker .content {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #4C2113;
    -fx-font-family: 'System';
}

.date-picker:hover, .date-picker:focused {
    -fx-background-color: #F1DEBC;
    -fx-text-fill: #4C2113;
}

.date-picker:hover,.combo-box:hover, .date-picker:hover{
    -fx-cursor: hand;

}


.date-picker .arrow-button {
    -fx-background-color: #F1DEBC;

}

.date-picker .arrow-button .arrow {
    -fx-background-color: #4C2113; /* Màu cho biểu tượng lịch */
}

.date-picker .month-year-pane {
    -fx-background-color: #DCB485; /* Màu nền cho tiêu đề tháng/năm */
    -fx-text-fill: #4C2113; /* Màu chữ cho tháng và năm */
}

.date-picker .month-year-label {
    -fx-text-fill: #4C2113; /* Màu chữ cho tháng và năm */
}

.date-picker .day-name-cell {
    -fx-background-color: #F1DEBC; /* Màu nền cho các tên ngày (Mon, Tue, ...) */
    -fx-text-fill: #4C2113; /* Màu chữ cho tên ngày */
}

/* Thay đổi màu nền và màu chữ cho các ô ngày */
.date-picker .day-cell {
    -fx-background-color: #FFFFFF; /* Màu nền cho các ô ngày */
    -fx-text-fill: #4C2113; /* Màu chữ cho ngày */
}

.date-picker .day-cell:hover {
    -fx-background-color: #F1DEBC; /* Màu nền khi hover vào các ô ngày */
    -fx-cursor: hand;
}

/* Thay đổi màu nền và màu chữ cho ngày được chọn */
.date-picker .day-cell:selected {
    -fx-background-color: #4C2113; /* Màu nền cho ngày được chọn */
    -fx-text-fill: #FFFFFF; /* Màu chữ cho ngày được chọn */
}

/* Định dạng các mũi tên chuyển tháng/năm */
.date-picker .left-arrow .arrow, .date-picker .right-arrow .arrow {
    -fx-background-color: #4C2113; /* Màu cho mũi tên chuyển tháng/năm */
}

.pagination .label {
    -fx-opacity: 0;
}

.pagination .number-button {
    -fx-background-color: transparent;
    -fx-text-fill: #B38B60;
    -fx-font-size: 12px;
}

.pagination .number-button:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}

.pagination .number-button:selected {
    -fx-background-color: transparent;
    -fx-text-fill: #4C2113;
}

.pagination .page-information {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
}



