
.scroll-pane {
    -fx-background-color: #FFFFFF;
}

.background-wrapper {
    -fx-background-radius: 10px;
    -fx-background-color: #f8edd9;
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 40, 0.3, 0, 0);
}
.background-wrapper2 {
    -fx-background-radius: 10px;
    -fx-background-color: #f8edd9;
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.3, 0, 0);
}

.background_pane{
    -fx-background-color: #f8edd9;
    -fx-background-radius: 10px;
    -fx-border-radius:10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.btn-2{
    -fx-background-color: #72311c ;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 700;
    -fx-background-radius: 5px;
    -fx-font-size: 15px;
}
.btn-2:hover{
    -fx-background-color: #4c2113;
    -fx-cursor: hand;
}
.btn-3{
    -fx-background-color: #f8edd9 ;
    -fx-text-fill: #4c2113;
    -fx-font-weight: 700;
    -fx-background-radius: 5px;
    -fx-font-size: 15px;
}
.btn-3:hover{
    -fx-background-color: #F1DEBC;
    -fx-cursor: hand;
}


.text-field-custom {
    -fx-control-inner-background: #f8edd9;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
}


.label-13 {
    -fx-font-size: 15px;
    -fx-fill: #4C2113;
    -fx-font-weight : bold
}

.title-text {
    -fx-text-fill: #4c2113;
    -fx-font-size: 30px;
    -fx-font-weight: semi-bold;
}

.progress-indicator {
    -fx-stroke: #F1DEBC;
    -fx-accent: #F1DEBC;
}
.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 12px;
}
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #f8edd9;
    -fx-background-radius: 5;
}
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: #f8edd9;
}
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0;
    -fx-shape: null;
    -fx-background-color: #f8edd9;
    -fx-max-width: 0;
    -fx-max-height: 0;
}
.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #dcb485;
}
.scroll-pane .scroll-bar:vertical .thumb.scrolling {
    -fx-background-color: #dcb485;
}


